<?xml version="1.0" encoding="UTF-8"?>


<!--+
	| Application context containing "super" AuthenticationProvider
	| implementation.
	+-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:pen="http://www.pentaho.com/schema/pentaho-system"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.pentaho.com/schema/pentaho-system http://www.pentaho.com/schema/pentaho-system.xsd" default-lazy-init="true">

	<bean id="superAuthenticationProvider"
		class="org.springframework.security.providers.dao.DaoAuthenticationProvider">
		<property name="userDetailsService">
			<ref bean="superUserDetailsService" />
		</property>
		<property name="passwordEncoder">
			<ref bean="superPasswordEncoder" />
		</property>
	<pen:publish as-type="org.springframework.security.providers.AuthenticationProvider">
	      <pen:attributes>
	        <pen:attr key="providerName" value="super"/>
	      </pen:attributes>
	    </pen:publish>
	</bean>

	<bean id="superUserDetailsService"
		class="org.pentaho.platform.plugin.services.security.userrole.memory.DefaultInMemoryUserDetailsService">
		<constructor-arg ref="tenantedUserNameUtils"/>		
		<property name="userMap">
			<value>
				<![CDATA[SystemAdmin=5f4dcc3b5aa765d61d8327deb882cf99,Super,Administrator,Authenticated]]>
			</value>
		</property>
	<pen:publish as-type="INTERFACES">
	      <pen:attributes>
	        <pen:attr key="providerName" value="super"/>
	      </pen:attributes>
	    </pen:publish>
	</bean>


	<bean id="superPasswordEncoder"
		class="org.springframework.security.providers.encoding.Md5PasswordEncoder" />

</beans>
