<?xml version="1.0" encoding="UTF-8"?>

<!--+
  | Application context containing authorization beans.
  +-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- An access decision voter that reads any configuration setting. See filterInvocationInterceptor.objectDefinitionSource -->
    <!--  TenantedRoleNameUtils is passed here for the purpose for Single Tenant Environment. This logic strips the tenant information from the roles -->
    <bean id="roleVoter" class="org.pentaho.platform.engine.security.PentahoSubstringRoleVoter">
        <constructor-arg value="" />
        </bean>

</beans>
