<?xml version="1.0" encoding="UTF-8"?>
<!--+
	| Application context containing "in memory" UserRoleListService
	| implementation.
	+-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

xmlns:pen="http://www.pentaho.com/schema/pentaho-system"

xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.pentaho.com/schema/pentaho-system http://www.pentaho.com/schema/pentaho-system.xsd" default-lazy-init="true">

	<bean id="userRoleListEnhancedUserMapFactoryBean"
		class="org.pentaho.platform.plugin.services.security.userrole.memory.UserRoleListEnhancedUserMapFactoryBean">
		<property name="userMap" ref="userMap" />
	</bean>

	<bean class="org.pentaho.platform.plugin.services.security.userrole.memory.InMemoryUserRoleListService">
		<property name="userRoleListEnhancedUserMap">
			<ref local="userRoleListEnhancedUserMapFactoryBean" />
		</property>
		<property name="userDetailsService" >
			<ref bean="memoryUserDetailsService" />
		</property>
		<property name="allRoles">
			<list>
				<value>Authenticated</value>
				<value>Administrator</value>
				<value>ceo</value>
					<value>cto</value>
				<value>is</value>
				<value>dev</value>
					<value>devmgr</value>
				<value>Anonymous</value>
			</list>
		</property>
	    <property name="usernameComparator">
	      <bean class="org.pentaho.platform.engine.security.DefaultUsernameComparator" />
	    </property>
	    <property name="roleComparator">
	      <bean class="org.pentaho.platform.engine.security.DefaultRoleComparator" />
	    </property>
	    <property name="systemRoles" ref="singleTenantSystemAuthorities" />
	<pen:publish as-type="INTERFACES">
			<pen:attributes>
				<pen:attr key="providerName" value="memory"/>
			</pen:attributes>
		</pen:publish>
	</bean>

</beans>
