<?xml version="1.0" encoding="UTF-8"?>


<!--+
	| Application context containing "in memory" AuthenticationProvider
	| implementation.
	+-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:pen="http://www.pentaho.com/schema/pentaho-system"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.pentaho.com/schema/pentaho-system http://www.pentaho.com/schema/pentaho-system.xsd" default-lazy-init="true">

	<bean class="org.springframework.security.providers.dao.DaoAuthenticationProvider">
		<property name="userDetailsService">
			<pen:bean class="org.springframework.security.userdetails.UserDetailsService"/>
		</property>
		<property name="passwordEncoder">
			<ref bean="memoryPasswordEncoder" />
		</property>
	<pen:publish as-type="org.springframework.security.providers.AuthenticationProvider">
	      <pen:attributes>
	        <pen:attr key="providerName" value="memory"/>
	      </pen:attributes>
	    </pen:publish>
	</bean>

	<bean id="memoryUserDetailsService"
		class="org.pentaho.platform.plugin.services.security.userrole.memory.DefaultInMemoryUserDetailsService">
		<constructor-arg ref="tenantedUserNameUtils"/>	
		<property name="userMap">
			<ref local="userMapFactoryBean" />
		</property>
	<pen:publish as-type="INTERFACES">
	      <pen:attributes>
	        <pen:attr key="providerName" value="memory"/>
	      </pen:attributes>
	    </pen:publish>
	</bean>

	<bean id="userMap" class="java.lang.String">
		<constructor-arg type="java.lang.String">
			<!-- case matters -->
			<value>
				<![CDATA[
          admin=password,Administrator,Authenticated
          suzy=password,Power User,Authenticated
          pat=password,Business Analyst,Authenticated
          tiffany=password,Report Author,Authenticated
        ]]>
			</value>
		</constructor-arg>
	</bean>

	<bean id="userMapFactoryBean"
		class="org.pentaho.platform.plugin.services.security.userrole.memory.UserMapFactoryBean">
		<property name="userMap">
			<ref local="userMap" />
		</property>
	</bean>

	<bean id="memoryPasswordEncoder"
		class="org.springframework.security.providers.encoding.PlaintextPasswordEncoder" />

</beans>