html{
  height: 100%;
  overflow: hidden;
  font-family: Veranda, Tahoma, Helvetica, Arial, sans-serif;
}

body{
  height: 100%;
}

.hidden{
  display:none;
}

.alignleft{
  left:0 !important;
}

.workspaceHeading {
  color: #5C5C5C;
  font-size: 24px;
  padding: 0px 0px 20px 0px;
}
.schedulerPerspective{
  padding: 40px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.schedulesHeading {
  border-width: 1px;
  border-bottom-style: solid;
  padding: 20px 0px 20px 50px;
}

.schedulesPanel {
  padding: 0px 0px 40px 0px;
}

.schedulesButtonPanel {
  padding: 15px 0px 0px 0px;

}

.launchImage {
  cursor: pointer;
  cursor: hand;
}

.launchButtonPanel {
  width: 562px;
}

.launchPanel {
  height: 100%;
}

.reportParameterDisclosurePanel {
  text-decoration:none;
  cursor: pointer;
  cursor: hand;
}

.reportPageControl {
  cursor: pointer;
  cursor: hand;
}

.pageControlPanel {
  padding: 0px 5px;
}

.solutionDisclosureHeaderWidget {
  text-decoration:none;
  cursor: pointer;
  cursor: hand;
}

.solutionDisclosureHeaderWidgetHover {
  text-decoration:none;
  cursor: pointer;
  cursor: hand;
}

.solutionDisclosureWidget {
  text-decoration:none;
  margin-top: 3px;
  cursor: pointer;
  cursor: hand;
}

.solutionDisclosureWidget-open .header {
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.solutionDisclosureWidget-closed .header {
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.solutionBrowserDescription {
  margin: 10px 20px 10px 20px;
}

.classicNavigatorFileLabelHover {
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.classicNavigatorFileLabel {
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.classicNavigatorPanel {
  margin: 5px 5px 5px 5px;
}

.numSolutionsLabel {
  text-decoration: none;
}

.breadCrumbLabel {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

.breadCrumbLabelHover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

.welcomeTab {
  padding: 0px 10 0px 10px;
}

.anchorLabelNoUnderline {
}

.anchorLabel {
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
}

.fileLabel {
  cursor: pointer;
  cursor: hand;
}

.fileLabelSelected {
  cursor: pointer;
  cursor: hand;
}

.fileLabel .gwt-Label {
  padding-left: 5px;
  font-size: 13px;
}

.fileLabelSelected .gwt-Label {
  padding-left: 5px;
  font-size: 13px;
}


.filesPanelMenuLabel {
  vertical-align: middle;
  line-height: 29px;
  padding-left: 10px;
}

.browsePanelMenuLabel {
  vertical-align: middle;
  line-height: 29px;
  padding-left: 10px;
}


.mainToolbar {
  height: 46px;
}

#main_toolbar {
  background: black;
}

.puc-horizontal-split-panel {
}



.puc-horizontal-split-panel .gwt-SplitLayoutPanel-HDragger {
  cursor: w-resize;
  margin-right: 10px;
  padding-left: 4px;
  padding-right: 2px;
}

.puc-vertical-split-panel .gwt-SplitLayoutPanel-VDragger {
  cursor: n-resize;
  padding-top: 4px;
  padding-bottom: 2px;
  overflow: hidden;
}

.IE .puc-horizontal-split-panel {
    overflow: hidden;
}


#loading {
  position: absolute;
  left: 48%;
  top: 45%;
  margin-left: -45px;
  padding: 2px;
  z-index: 20001;
  height: auto;
}

#loading .loading-indicator {
  padding: 10px;
  margin: 0;
  height: auto;
}

#loading .loading-indicator img {
  background: white;
  margin-right:8px;
  float:left;
  vertical-align:top;
}

.applicationShell {
  border: 0px;
  height: 100%;
  width: 100%;
}

/*
* {
  margin: 0px;
  padding: 0px;
}
*/

body {
  color: black;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-weight: normal;
}

table {
  /*  font-size: 100%;*/
}

code {
  font-size: small;
}










.backgroundContentAction {
  cursor: pointer;
  cursor: hand;
}

.backgroundContentTable content {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}


.backgroundContentHeaderTableCell {
  padding: 8px;

}
.backgroundContentHeaderTableCellRight {
  padding: 8px;

}

.backgroundContentTableCell {
  padding: 0px 10px 0px 10px;
}

.backgroundContentTableCellRight {
  padding: 0px 10px 0px 10px;
}

.backgroundContentTableCellBottom {
  padding: 0px 10px 0px 10px;
}

.backgroundContentTableCellBottomRight {
  padding: 0px 10px 0px 10px;
}







.gwt-BorderedPanel {
}

.gwt-Button {
  height:22px;
  margin: 0px 4px 2px 4px;
}

.gwt-Button:hover {
  margin: 0px 4px 2px 4px;
  height:22px;
  cursor: pointer;
  cursor: hand;
}

.gwt-Button:disabled {
  margin: 0px 4px 2px 4px;
  height:22px;
  cursor: default;
}

.dialogContentPanel {
  padding: 0px 0px 0px 0px;
  font-size: 12px;
}

.viewContentDialogBox {
  padding: 2px 2px 2px 2px;
}

.viewContentDialogBox .Caption {
  text-align: left;
  padding: 3px 0px 3px 5px;
}

.gwt-HTML {
  text-align: left;
}

.gwt-Hyperlink {
}

.gwt-Image {
}

.gwt-Label {
}

.gwt-ListBox {
  font-size: 13px;
}


.menuBarAndLogoPanel {

}

.logoPanel-ContainerToolBar {

}

.logoPanel-Container {
}

#pucWrapper {
	position: relative;
}

#pucContent {
	position: absolute;	
	left: 0;
	right: 0;
	bottom: 0;
}

.pucContentDeck {
  height: 100%;
  width: 100%;
}
.IE .pucContentDeck {
  overflow: visible !important;
}

.workspaceDisclosureContentWrapper {
  padding: 10px;
  margin: 0 10px 10px;
}

.IE .workspaceDisclosureContentWrapper {
  padding: 0px;
  margin: 0px;
}

.IE .workspacePanel .pentaho-disclosure-panel-open {
  padding-top: 0px;
}

.IE .workspacePanel .pentaho-disclosure-panel-closed {
  padding-top: 0px;
}


.gwt-Tree .gwt-TreeItem {
  white-space: nowrap;
  cursor: pointer;
  cursor: hand;
}

.gwt-Tree .gwt-TreeItem-selected {
  white-space: nowrap;
  cursor: pointer;
  cursor: hand;
}


.gwt-StackPanel .gwt-StackPanelItem {
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up {
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  padding: 3px;
  margin: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  padding: 3px;
  margin: 2px;
  cursor: pointer;
  cursor: hand;

}

.gwt-ToggleButton-down {
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextToolbar {
  padding: 2px 2px 2px 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
  padding: 2px 2px 2px 2px;
}

.gwt-SliderBar-shell {
  height: 34pt;
  width: 50%;
}
.gwt-SliderBar-shell .gwt-SliderBar-line {
  height: 4px;
  width: 95%;
  top: 22pt;
  overflow: hidden;
}
.gwt-SliderBar-shell .gwt-SliderBar-knob {
  top: 14pt;
  width: 11px;
  height: 21px;
  z-index: 1;
  cursor: pointer;
}
.gwt-SliderBar-shell .gwt-SliderBar-tick {
  top: 12pt;
  width: 1px;
  height: 8pt;
  overflow: hidden;
}
.gwt-SliderBar-shell .gwt-SliderBar-label {
  top: 2pt;
  cursor: default;
}
.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
  cursor: pointer;
}

.titledToolbar{
  position:absolute;
  width:100%;

}

.panelWithTitledToolbar{
  height: 100%;
}

.files-list-panel{
  position:absolute;
  height:100% !important;
  height:100% -29px;
  width:100%;
  overflow:auto;
}
.files-toolbar{
  width:100%;
  height:29px;
  position:absolute;
  z-index: 10;
  overflow: hidden;
}

.folder-list-panel{
  position:absolute;
  height:100% !important;
  height:100% -29px;
  width:100%;
  overflow:auto;
}
.puc-navigator-panel {
  padding: 6px 0px 0px 0px;
  overflow-x: visible;
  overflow-y: visible;
  height: 100%;
  margin: 0px;
  position: absolute;
}

.gwt-PopupPanel{
  z-index:100;
}

.mantle-toolbar-combo-button{
  margin: 1px;
}

.mantle-toolbar-combo-button-hovering{
  margin: 1px;
}

.mantle-toolbar-combo-button-disabled{
  margin: 1px;
}

.filesPanelToolbar{
  padding-right:3px;
}
.fileItemDragProxy{
  z-index:1500 !important;
  width: 25px;
}
.validDrop{
}

.msg-Label{
  font-size: 13px;
  font-style:italic;
  color:#737373;
}

/* BISERVER-6181 - add padding to bottom of the file list panel*/
.filter-list-panel-container {
  bottom: 14px !important; /* override the inline style that is set by gwt, simple padding doesn't work */
}
.IE .filter-list-panel-container {
  padding-bottom: 6px !important; /* ie setting the padding works */
}
/* end fix BISERVER-6181 */

/* BISERVER-6442 */
#previewResultsTable{
  overflow:hidden;
  width: 525px;
}

.adminContentPanel > tbody > tr > td > div {
  height: 100%;
}

/* BISERVER-8429 */
.leaf-widget table {
  border-spacing: 0px;

  /* IE Support*/
  border-collapse: collapse;
}

/* BISERVER-8429 */
.leaf-widget table td {
  padding: 0px;
}

/* add some padding between the perspective and the top toolbar/filemenu */
.applicationShell .panelWithTitledToolbar {
  padding-top: 2px;
}

/* don't let IE take up all the space of its parent, it will be off screen */
.IE .mantle-default-tab-background {
  height: 95% !important;
}

/* needed to shorten the admin window as to ensure it does not spill off the screen */
.IE8 #adminContentPanel {
  height: 95% !important;
}

/* BISERVER-9132 - allows for scrolling in the admin perspective and  schedule perspective*/
.applicationShell>div>div {
  overflow: auto;
}

#adminCatTree {
  width: 237px;
}

#adminCatTree .tree-scroll-panel {
  overflow: visible;
}

.fill-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}






.schedule-editor-caption-panel {
  margin-top: 6px;
  padding: 5px;
}
.startLabel {
  padding-right: 1ex;
  white-space: nowrap;
  /*border:1px dotted red;*/
}

.middleLabel {
  padding-right: 1ex;
  padding-left: 1ex;
  white-space: nowrap;
  /*border:1px dotted red;*/
}
.endLabel {
  padding-left: 1ex;
  white-space: nowrap;
  /*border:1px dotted red;*/
}

.schedule-label {
  margin-top: 4px;
}

.cron-label {
  margin-top: 6px;
}

.start-date-picker {
  width: 10em;
}

.end-date-picker {
  width: 10em;
}

.recurrenceRadioButton label {
  padding-right: 1ex;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 2px;
}

.recurrenceRadioButton {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.day-of-month-textbox {
  margin-left: 6px;
}

.day-of-week-checkbox {
  padding-left: 4px;
}

.weeklyRecurrencePanel {
}

/* begin schedule editor ------------------------------------------------------*/
.scheduleEditor {
  /* can't add a margin here, IE7 can't handle it */
  /*margin: 10px;*/
  /*background-color: #CCCCFF; for testing*/
  width: 100%;
}

.scheduleDescription {
  width: 70%;
  /*background-color: red; for testing */
}

.scheduleCombo {
  margin-right: 5px;
}
/* end schedule editor ----------------------------------------------------------*/
/* end recurrence dialog ----------------------------------------------------------*/

.pentaho-schedule-create {
	padding: 10px;
	width: 100%;
}

.timeZonePicker {
  width: 100%; 
}


#admin-users-panel,
#admin-roles-panel,
#admin-system-roles-panel {
  padding:10px;
}

.users-roles-list {
  height: 432px;
  width: 200px;
}
.users-roles-selection-list {
  height: 317px;
  width: 200px;
}
#admin-roles-panel .users-roles-selection-list {
  height: 268px;
}
#admin-system-roles-panel .pentaho-fieldgroup-minor .gwt-Label {
  height: 26px;
}

.IE .pentaho-dialog .dialogMiddleCenterInner .dialog-content{
  text-align: left;
}

.pentaho-dialog-small{
  width: 400px;
}

.pentaho-dialog-small .gwt-Label{
  text-align: left;
}

/* BISERVER 9312 */
#blockout-table {
  height: auto !important;
}

#blockout-table .gwt-ScrollTable {
  height: auto !important; 
}

#blockout-table .gwt-ScrollTable>div {
  position: inherit !important;
  height: auto !important;  
}

#blockout-table .gwt-ScrollTable .dataWrapper{
  height: auto !important; 
}

.IE .schedulerPerspective-wrapper>table {
  width: 100%;
}

.IE .schedulerPerspective-wrapper .schedules-panel-wrapper {
  width: 100%;
}

.IE .schedules-panel-wrapper>table {
  width: 100%;
}