
.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid black;
border-bottom-width: 0;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
background-color: #FFFFF0;
visibility: hidden;
}

.dropmenudiv a,
.dropmenudiv strong {
display: block;
text-indent: 3px;
border-bottom: 1px solid black;
padding: 2px 4px;
text-decoration: none;
font-weight: bold;
}

.dropmenudiv a:hover{ /*Theme Change here*/
background-color: #DEE3EF;
}