bin/
.idea/
.vscode/
*.iml
.settings
.metadata/
.recommenders/
.java-version

out/
build-utils/dist/
build-utils/lib/
build-utils/test-lib/
extensions/test-src/connections-solution/test/tmp/
extensions/test-src/solution/test/tmp/

# Test-run temp dirs (random numeric suffix)
extensions/test[0-9]*/
extensions/KarafBootTest[0-9]*/

# Files/Folders generated when building
pentaho.log
work-item-status.log
localhost.log
localhost.properties
localhost.script
example.txt
wi-status.error

extensions/localhost.tmp/
logs/
target/
http:/
