out/
bin/
extensions/test-src/solution/test/tmp/Chartbeans.testChartbeansAllInclusive_OFC.html
extensions/test-src/connections-solution/test/tmp/
extensions/test-src/solution/test/tmp/
.idea/workspace.xml
