bin/
.idea/
.vscode/
*.iml
.settings
.metadata/
.recommenders/
.DS_Store

out/
build-utils/dist/
build-utils/lib/
build-utils/test-lib/
extensions/test-src/connections-solution/test/tmp/
extensions/test-src/solution/test/tmp/

# Files/Folders generated when building
pentaho.log
work-item-status.log
localhost.log
localhost.properties
localhost.script
example.txt
wi-status.error

extensions/localhost.tmp/
logs/
target/
http:/
c:/
derby.log
dumpTestAdminCreate.zip
repository/src/test/resources/solution/system/data/hibernate.log
repository/src/test/resources/solution/system/data/hibernate.properties
