
td.tabbed-current, 
td.tabbed-body,
td.tabbed-other {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color : Black;
  text-align: left;
  vertical-align: top;
}

td.tabbed-current, 
td.tabbed-other {
  font-weight: bold;
  background-color : #DEE3EF;
}
