<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <appender name="PENTAHOCONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
    </layout>
  </appender>

  <!-- ================ -->
  <!-- Limit categories -->
  <!-- ================ -->

  <category name="org">
    <priority value="ERROR"/>
  </category>

  <category name="net">
    <priority value="ERROR"/>
  </category>

  <category name="com">
    <priority value="ERROR"/>
  </category>

  <category name="mondrian">
    <priority value="ERROR"/>
  </category>

  <category name="org.pentaho.platform.repository">
    <priority value="INFO"/>
  </category>

  <category name="org.pentaho.platform.repository2">
    <priority value="INFO"/>
  </category>

  <category name="org.pentaho.platform.security.policy.rolebased">
    <priority value="INFO"/>
  </category>

  <root>
    <!-- out of mem errors can result in Eclipse when this is set to debug  -->
    <priority value="INFO"/>
    <appender-ref ref="PENTAHOCONSOLE"/>
  </root>


</log4j:configuration>
