<plugin title="Default Plugin Perspective" name="default-plugin-perspective">

<!--
	<perspective id="test.admin" title="Admin Test" layout-priority="100" required-security-action="org.pentaho.security.administerSecurity" content-url="content/default-plugin-perspective/resources/html/admin.html">
	</perspective>
	
	<perspective id="default.perspective.test" title="${testPerspective}" layout-priority="100" resourcebundle="content/default-plugin-perspective/resources/messages/messages" content-url="content/default-plugin-perspective/resources/html/index.html">
		<overlay id="default.perspective.toolbar.test.overlay"  resourcebundle="content/default-plugin-perspective/resources/messages/messages">
            <toolbar id="mainToolbar">
                 <toolbarbutton id="default.perspective.test.overlay.button" image="../content/default-plugin-perspective/resources/images/enabled32.png" onclick="mainToolbarHandler.executeMantleFunc('defaultTestPerspectiveFunction();')" tooltiptext="${defaultPerspectiveTestToolbarButton}"  insertafter="dummyPluginContentButton"/>
            </toolbar>			
			<menubar id="mainMenubar">
				<menubar id="testPerspectiveMenuBar" label="${test}" layout="vertical" insertafter="toolsmenu">
					<menuitem id="default.perspective.test.overlay.menubar" label="${testItem}" js-command="alert('Test Item Clicked')" />		
				</menubar>
			</menubar>
			<menubar id="newmenu">
				<menuitem id="default.perspective.test.overlay.new.menu.item" label="${defaultPerspectiveTestMenuItem}" command="mainMenubarHandler.executeMantleFunc('defaultTestPerspectiveFunction();')" />		
			</menubar>	
		</overlay>
		
		<overlay id="sticky.default.perspective.menubar.test.overlay"  resourcebundle="content/default-plugin-perspective/resources/messages/messages">
            <toolbar id="mainToolbar">
                 <toolbarbutton id="default.perspective.test.overlay.sticky.button" image="../content/default-plugin-perspective/resources/images/lock32.png" js-command="alert('Sticky Toolbar Button Clicked')" tooltiptext="${stickyButton}"  insertafter="dummyPluginContentButton"/>
            </toolbar>			
			<menubar id="mainMenubar">
				<menubar id="testPerspectiveStickyMenuBar" label="${sticky}" layout="vertical" insertafter="toolsmenu">
					<menuitem id="default.perspective.test.overlay.sticky.menu.item" label="${stickyMenuItem}" js-command="alert('Sticky Test Item Clicked')" />		
				</menubar>
			</menubar>
			<menubar id="newmenu">
				<menuitem id="default.perspective.test.overlay.sticky.new.menu.item" label="${stickyMenuItem}" js-command="alert('Sticky Test Item Clicked')" />		
			</menubar>	
		</overlay>
		
		
	</perspective>
		
	<static-paths>
		<static-path url="/default-plugin-perspective/resources" localFolder="resources"/>
	</static-paths>

-->
	
</plugin>