<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Plugin to enable the global configuration for VizAPI 3.0">

  <static-paths>
    <!-- this translates to /pentaho/content/config/deploy/* -->
    <static-path url="/config/deploy" localFolder="../karaf/config/web-client" />
    <static-path url="/client-config-folder-enabler" localFolder="web" />
  </static-paths>

  <external-resources>
    <file context="requirejs">content/client-config-folder-enabler/client-config-enabler-require-js-cfg.js</file>
  </external-resources>

</plugin>
