<?xml version="1.0" encoding="UTF-8"?>
<plugin title="BI Server default plugin">

  <content-generator id="ws-services" type="ws-services" title="Web services discovery page"
                     class="org.pentaho.platform.plugin.services.webservices.content.StyledHtmlAxisServiceLister"/>
  <content-generator id="ws-run" type="ws-run" title="Web services execution"
                     class="org.pentaho.platform.plugin.services.webservices.content.AxisServiceExecutor"/>
  <content-generator id="ws-wsdl" type="ws-wsdl" title="Web services execution"
                     class="org.pentaho.platform.plugin.services.webservices.content.AxisServiceWsdlGenerator"/>

  <perspective id="home.perspective" title="${home}" layout-priority="-2"
               resourcebundle="content/default-plugin/resources/messages/messages" content-url="mantle/home">
  </perspective>

  <perspective id="browser.perspective" title="${browse}" layout-priority="-1"
               resourcebundle="content/default-plugin/resources/messages/messages" content-url="mantle/browser">
  </perspective>


  <perspective id="opened.perspective" title="${opened}" layout-priority="-1"
               resourcebundle="content/default-plugin/resources/messages/messages">
    <overlay id="default-hidden-toolbar"  resourcebundle="content/default-plugin/resources/messages/messages">
      <toolbar id="mainToolbar" visible="true" />
    </overlay>
  </perspective>

  <perspective id="schedules.perspective" title="${schedules}" layout-priority="10"
               resourcebundle="content/default-plugin/resources/messages/messages">
  </perspective>

  <perspective id="admin.perspective" title="${admin}" layout-priority="20"
               required-security-action="org.pentaho.security.administerSecurity"
               resourcebundle="content/default-plugin/resources/messages/messages">
  </perspective>

  <external-resources>
    <file context="global">js/themes.js</file>
    <file context="global">content/common-ui/resources/themes/jquery.js</file>
    <file context="requirejs">js/require-js-cfg.js</file>
  </external-resources>

  <static-paths>
    <static-path url="/default-plugin/resources" localFolder="resources"/>
  </static-paths>


</plugin>
