.widget-panel {
  min-height: 240px;
}

.main-container {
  padding-top: 20px;
  max-width: 1024px;
}

.widget-panel.well {
  padding: 0px 19px 19px;
}

button.btn-large.btn-block {
  padding-left: 10px;
  padding-right: 10px;
}

.nobreak {
  white-space: nowrap;
}

.widget-panel.well .content-panel {
  height: 186px;
  overflow-y: auto;
  background: #ffffff;
  min-width: 50px;
}

.pointer {
  cursor: pointer;
}

.content-icon {
  height: 32px;
  width: 32px;
}

.pad-left {
  padding-left: 4px;
}

/*spinner gets added dynamically later*/
.content-panel .spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.empty-panel {
  border: 2px dashed #cac3ba;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: table;
}
.empty-panel .centered {
  padding: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.centered {
  text-align: center;
  vertical-align: middle;
}

.empty-panel .pentaho-button {
  font-size: .9em;
}

#buttonWrapper button{
  white-space: nowrap;
}

.sample-card {
  text-align: center;
  min-width: 96px;
  display: table-cell;  
  padding: 5px;
  cursor: pointer;
}

#sample-selector {
  overflow-x: scroll;
  display: table;
  background-color: #DCE7ED;
  padding-top: 2px;
  padding-left: 2px;
  padding-righte: 2px;

}

.sample-card-description {
  display: none;
}

.sample-card-img {
  width: 49px;
  height: 49px;
  background-image: url("../images/sample.png");
  display:inline-block;
}

.sameple-details-img {
  width: 177px; 
  height: 177px;
  background-image: url("../images/sample_large.png");
  display:inline-block;
}

.selected {
  background-color: #FFF;
}