.widget-panel {
  min-height: 240px;
}

.main-container {
  padding-top: 20px;
  width: 1230px;
  margin: 0 auto;
}

.widget-panel.well {
  padding: 0px 19px 19px;
}

button.btn-large.btn-block {
  padding-left: 10px;
  padding-right: 10px;
}

.nobreak {
  white-space: nowrap;
}

.widget-panel.well .content-panel {
  height: 186px;
  overflow-y: auto;
  background: #ffffff;
  min-width: 50px;
}

.launch-link, .pointer {
  cursor: pointer;
}

.content-icon {
  height: 32px;
  width: 32px;
}

.pad-left {
  padding-left: 4px;
}

/*spinner gets added dynamically later*/
.content-panel .spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.empty-panel {
  border: 2px dashed #cac3ba;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: table;
}
.empty-panel .centered {
  padding: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.centered {
  text-align: center;
  vertical-align: middle;
}

.empty-panel .pentaho-button {
  font-size: .9em;
}

#buttonWrapper button{
  white-space: nowrap;
}

#getting-started {
  /* min-height: 500px; */
  position: relative;
}

.card {
  display: table-cell;
  cursor: pointer;  
  text-align: center;
  min-width: 110px;
  padding: 5px;
  width: 150px;
}

.selector-row {
  position: absolute;
  left:0px;
  bottom:0px;
}

#getting-started .horizontal-selector {
  display: block;
  background-color: #F1F1F1;
  padding: 2px;
  overflow-x:scroll;  
  font-size: 12px;
  border-top: 1px solid #c1d7e1;
  height: 130px;
}

#launch-widget .horizontal-selector, #tutorial-selector.horizontal-selector {
  overflow-x:inherit;
}

.card-link, .card-description {
  display: none;
}

.bg-img, .card-img, .details-img {
  display:inline-block;
  background-repeat: no-repeat;  
}

.sample-card-img {
  width: 49px;
  height: 49px;
  background-image: url("../images/sample.png");  
}

.sample-details-img {
  width: 200px;
  height: 200px;
  background-image: url("../images/sample_large.png");
}

.tutorial-card-img {  
  width: 89px;
  height: 68px;
  background-image: url("../images/video_small.png");  
}

.tutorial-details-img {
  width: 245px;
  height: 163px;
  background-size: 100%;  
}

.tutorial-card-time {
  position: relative;
  text-align: center;
  width: 100%;  
  color: #FFF;
  top:20px;
  height:20px;
}

.welcome-img {
  width:100%;
  height:220px;
  /* background-size: 100%; */
  background-image: url("../images/welcome_play.jpg");
}

.selected {
  background-color: #FFF;
}

#sample {
  width: 100%;
  height: 600px;
}
/* Added by Brett   */
.bootstrap .well .sidebar {
	border: 0;
	background: transparent;
}

.bootstrap .nav-tabs {
  border-bottom: 1px solid #c1d7e1;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 74%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(74%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 74%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 74%,#f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 74%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 74%,#f4f4f4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}
.detail-title{
  padding: 0 0 20px 0;
  font-size: 16px;
  color: #26363d;
}
.detail-description{
  padding: 0 0 20px 0;
  font-size: 14px;
  color: #26363d;
}
#getting-started .tab-content {
  position: relative;
}
.alert {
  text-align: center;
}