<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springsource.org/dtd/spring-beans.dtd">

<!--+
	| Application context containing "in memory" AuthenticationProvider
	| implementation.
	+-->

<beans>

	<bean id="authenticationProvider"
		class="org.springframework.security.providers.dao.DaoAuthenticationProvider">
		<property name="userDetailsService">
			<ref bean="userDetailsService" />
		</property>
		<property name="passwordEncoder">
			<ref bean="passwordEncoder" />
		</property>
	</bean>

	<bean id="userDetailsService"
		class="org.springframework.security.userdetails.memory.InMemoryDaoImpl">
		<property name="userMap">
			<ref local="userMapFactoryBean" />
		</property>
	</bean>

	<bean id="userMap" class="java.lang.String">
		<constructor-arg type="java.lang.String">
			<!-- case matters -->
			<value>
				<![CDATA[
          joe=password,ceo,Admin,Authenticated
          suzy=password,cto,is,Authenticated
          pat=password,dev,Authenticated
          tiffany=password,dev,devmgr,Authenticated
        ]]>
			</value>
		</constructor-arg>
	</bean>

	<bean id="userMapFactoryBean"
		class="org.pentaho.platform.plugin.services.security.userrole.memory.UserMapFactoryBean">
		<property name="userMap">
			<ref local="userMap" />
		</property>
	</bean>

	<bean id="passwordEncoder"
		class="org.springframework.security.providers.encoding.PlaintextPasswordEncoder" />

</beans>