<?xml version="1.0" encoding="UTF-8"?>
<!--===========================================================================
HITACHI VANTARA PROPRIETARY AND CONFIDENTIAL

Copyright 2002 - 2019 Hitachi Vantara. All rights reserved.

NOTICE: All information including source code contained herein is, and
remains the sole property of Hitachi Vantara and its licensors. The intellectual
and technical concepts contained herein are proprietary and confidential
to, and are trade secrets of Hitachi Vantara and may be covered by U.S. and foreign
patents, or patents in process, and are protected by trade secret and
copyright laws. The receipt or possession of this source code and/or related
information does not convey or imply any rights to reproduce, disclose or
distribute its contents, or to manufacture, use, or sell anything that it
may describe, in whole or in part. Any reproduction, modification, distribution,
or public display of this information without the express written authorization
from Hitachi Vantara is strictly prohibited and in violation of applicable laws and
international treaties. Access to the source code contained herein is strictly
prohibited to anyone except those individuals and entities who have executed
confidentiality and non-disclosure agreements or other agreements with Hitachi Vantara,
explicitly covering such access.
============================================================================-->
<plugin title="BI Server EE admin plugin" xmlns:pen="http://www.pentaho.org/2008/xul" name="admin-plugin">

	<overlays>
	    <overlay id="admin.perspective.overlay.ee"  resourcebundle="content/admin-plugin/resources/messages/messages">	    	
			<treechildren id="adminCatTreeChildren">			
			
    			<treeitem id="authAdmin" container="true" command="mantleXulHandler.loadAdminContent('ldapSecurityAdminPanel', 'api/repos/admin-plugin/resources/authenticationProviderModule/authenticationProviderAdmin.html')" insertafter="usersRoles">
	  				<treerow>
	    				<treecell label="${ldap}" />
		  			</treerow>	    
				</treeitem>
				
				<treeitem id="licAdmin" container="true" command="mantleXulHandler.loadAdminContent('licenseManagerAdmin', 'api/repos/admin-plugin/resources/licenseManagerModule/licenseManagerAdmin.html')" insertafter="mailServer">
		    		<treerow>
						<treecell label="${licenseManager}" />
			  		</treerow>
			  	</treeitem>	

				<!-- START - New Brute Force Admin ************************************************** -->
		  					
				<treeitem id="bfAdmin" container="true" command="mantleXulHandler.loadAdminContent('BruteForceAdmin', 'blockedIPsManagement.jsp')" insertafter="buteForceAdmin">
		    		<treerow>
						<treecell label="Brute Force Admin" />
			  		</treerow>
			  	</treeitem>	
				
				<!-- END - New Brute Force Admin **************************************************-->

			</treechildren>		
	    </overlay>
	</overlays>

	<static-paths>
		<static-path url="/admin-plugin/resources" localFolder="resources"/>
	</static-paths>  

  <external-resources>
    <file context="requirejs">content/admin-plugin/resources/admin-plugin-require-js-cfg.js</file>
</external-resources>
</plugin>