.pentaho-admin-panel {
  background-color: #ffffff;
}

#adminContentPanel {
  padding-left: 40px;
}

#adminContentPanel.vbox > tbody > tr > td {  
  height: 100%;
}

.admin-perspective {
  padding-top: 40px;
  padding-left: 40px;
  background-color: white;
  height: 100%;
  width: 100%;
}

.admin-perspective .pentaho-tab-deck-panel {
  background-color: #f1f1f1;
}

#adminCatTree .gwt-Label {
  font-family: Verdana;
  font-size: 13px;
  color: #5c5c5c;
  cursor: pointer;
  cursor: hand;
  height: 26px;
  padding-top: 10px;
  padding-left: 10px;
  background-image: url('images/grey_triangle_right.png');
  background-position: 95% center;
  background-repeat: no-repeat;
}

.ie  #adminCatTree .gwt-Label {
  height: 36px;
}

#adminCatTree .gwt-TreeItem-selected .gwt-Label {
  color: white;
  cursor: pointer;
  cursor: hand;
}

#adminCatTree .tree-item-custom-widget-selected {
  border: 0px solid transparent;
  background: #5c5c5c; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjNWM1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTAxMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #5c5c5c 0%, #010101 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c5c5c), color-stop(100%,#010101)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #5c5c5c 0%,#010101 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #5c5c5c 0%,#010101 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #5c5c5c 0%,#010101 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #5c5c5c 0%,#010101 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#010101',GradientType=0 ); /* IE6-8 */
}

#adminCatTree .tree-item-custom-widget {
  border-top: 0px solid transparent;
  padding:0;
  width: auto !important;}

.adminCatTreeItem {
  border-top: 1px solid #dfdfdf;	
}

.adminCatTreeItemLast {
  border-bottom: 1px solid #dfdfdf;	
}

.mantle-perspective-toggle {
  background: black;
  color: white;
  padding: 4px 5px 3px 5px;
  cursor: pointer;
  cursor: hand;
  white-space: nowrap;
  border-top: 2px solid black;
}

.mantle-perspective-toggle-up {
  color: #e3e3e3;
}

.mantle-perspective-toggle-up-disabled {
  color: #999999;
}

.mantle-perspective-toggle-up-hovering {
  color: white;
}

.mantle-perspective-toggle-down {
  border-top: 2px solid #fe700f;
  color: white;
}

.mantle-perspective-toggle-down-hovering {
  border-top: 2px solid #fe700f;
  color: white;
}

#mainMenubar {
  background: black;
}

.mantle-perspective-switcher {
  background: black;
  height: 28px;
}

.puc-logo{
  background: url('images/logo.png') no-repeat center center;
}
.puc-logo-spacer{
  width: 152px;
  height: 75px;
}

.launchButtonPanel {
  background-image: url(../../quicklaunch_icon_panel.png);
  background-repeat: no-repeat;
  background-position: center;
}

.launchPanel {
  background-color: white;
  background-image: url(../../quicklaunch_bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.reportParameterDisclosurePanel {
  background-color: #d8d8d8;
  border-bottom:1px solid #848484;
}

.errorLabel {
  color: red;
}

.reportPageControl {
  border: 1px solid black;
}

.pageControlPanel {
  background-color: LightCyan;
  border-bottom: 1px solid black;
}

.solutionDisclosureHeaderWidget {
  background-color:#EEEEEE;
  border:5px solid #EEEEEE;
  color:#778645;
}

.solutionDisclosureHeaderWidgetHover {
  background-color:#DDDDDD;
  border:5px solid #DDDDDD;
  color:#EF6507;
}

.solutionDisclosureWidget {
  background-color:#EEEEEE;
  border:1px solid #808080;
  color:#778645;
}

.classicNavigatorTable {
  background-color: white;
}

.classicNavigatorTableCell {
  border-bottom: 1px solid #808080;
}

.classicNavigatorTableHeader {
  background-color: #C2CFA2;
  color: black;
  border: 1px solid #808080;
}

.classicNavigatorFileLabelHover {
  color: #EF6507;
}

.classicNavigatorFileLabel {
  color: #778645;
}

.numSolutionsLabel {
  color: #778645;
}

.breadCrumbLabel {
  color: #778645;
}

.breadCrumbLabelHover {
  color: #EF6507;
}

.hiddenFileLabel {
  width: 100%;
  opacity: .7;
  font-style: italic;
  background-color: #ffffff;
}

.hiddenFileLabelSelected {
  width: 100%;
  opacity: .7;
  font-style: italic;
  background-color: #dbdbdb;
}


.fileLabel {
  background-color: #ffffff;
}

.fileLabelSelected {
  background-color: #dbdbdb;
}


.permissionsTable {
  border: 1px solid #7f9db9;
}


.filesPanelMenuLabel {
  background-color: #d8d8d8;
  background-image: url(../../images/subtoolbar_bg.png);
  background-position:center;
  background-repeat: repeat-x;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #848484;
}

.browsePanelMenuLabel {
  background-color: #d8d8d8;
  background-image: url(../../images/subtoolbar_bg.png);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #848484;
  background-repeat: repeat-x;
  background-position:center;
}

.mantle-default-tab-background {
  background-color: transparent;
}

.mantle-white-tab-background {
  background-color: white;
}

#mainToolbar {
  padding: 0px 0px 0px 0px;
}

.puc-horizontal-split-panel {
}

.puc-horizontal-split-panel .hsplitter {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

.puc-horizontal-split-panel .left {
  background-color: #E8EEF7;
}

.puc-vertical-split-panel {
}


#loading {
  background: white;
  border: 1px solid #ccc;
}

#loading a {
  background: white;
  color: #225588;
}

#loading .loading-indicator {
  background: white;
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
}

#loading .loading-indicator img {
  background: white;
}

#loading-msg {
  background: white;
  font: normal 10px arial, tahoma, sans-serif;
}

a, a:visited {
  color:#ef8033;
}

a:active, a:hover {
  color:#949e3e;
}

.filePropertyTabContent {
  border-left: 2px solid #87944C;
  border-bottom: 2px solid #87944C;
  border-right: 2px solid #87944C;
}

.filePropertiesDialogContent {
  background: white;
}


.backgroundContentAction {
  color: blue;
  font-size: 13px;
}

.backgroundContentTable {
 background: black;
 font-size: 13px;
}

.backgroundContentHeaderTableCell {
  background: #1a1a1a; /* Old browsers */
  background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(50%,#333333), color-stop(51%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FF777777', endColorstr = '#FF000000');
  zoom: 1;
  background: linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* W3C */
}

.backgroundContentHeaderTableCell .gwt-Label {
  color: white;
}

.backgroundContentHeaderTableCellRight {

  background: #1a1a1a; /* Old browsers */
  background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(50%,#333333), color-stop(51%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FF777777', endColorstr = '#FF000000');
  zoom: 1;
  background: linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* W3C */

}

.backgroundContentHeaderTableCellRight .gwt-Label {
  color: white;
}

/* In IE9, in quirks mode, 
  the class .backgroundContentHeaderTableCell's filter gradient 
  is not "propagated" from the _col_ elements to the corresponding _th_ element.
  It works if the filter is applied directly to th element, though.
  For precaution, this fix is only applied to the Schedule table (BISERVER-8539).
*/
.IE #schedule-table th {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FF777777', endColorstr = '#FF000000');
}

.backgroundContentTableCell {
  background-color: white;
}

.backgroundContentTableCellRight {
  background-color: white;
}

.backgroundContentTableCellBottom {
  background-color: white;
}

.backgroundContentTableCellBottomRight {
  background-color: white;
}





.gwt-Button {
  background-image: expression('url(buttonbg.gif)');
  background-image:url(../../buttonbg.gif);
  font-weight: plain;
  border-style:solid;
  border-color:#000000;
  border-width:1px;
}

.gwt-Button:hover {
  background-image:url(../../buttonhoverbg.gif);
  background-image: expression('url(buttonhoverbg.gif)');
  font-weight: plain;
  border-style:solid;
  border-color:#000000;
  border-width:1px;
}

.gwt-Button:disabled {
  background-image:url(../../buttonbg.gif);
  background-image: expression('url(buttonbg.gif)');
  border-style:solid;
  border-color:#c0c0c0;
  border-width:1px;
}

.gwt-Canvas {
}

.gwt-CheckBox {
}

.gwt-CheckBox label {
  margin: 0px 0px 0px 4px;
}

.dialogContentPanel {
  background-color: #e8eefa;
  font-size: 12px;
}

.viewContentDialogBox {
  background-color: #ececec;
  border: 3px solid #000000;
}

.viewContentDialogBox .Caption {
  background-color: #d0d0d0;
  color: black;
  cursor: move;
  border-bottom: 1px solid #000000;
}

.gwt-FileUpload {
}

.gwt-StyledFileUpload {
  position: absolute;
  font-size: 45px;
  right: 0px;
  top: 0px;
  opacity: 0;

  filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
}

.gwt_file_upload_hidden_div {
  position: relative;
  overflow: hidden;
}

.gwt-Frame {
  border: none;
  overflow:visible;
  width:100%;
}

.workspace-resource-link {
  color: #ef8033;
  text-decoration: underline;
  cursor: hand;
}

.workspacePanel {
  background-color: #d4d6db;
}

.noDataForScheduleTable {
  background-color: white;
}

.workspaceDisclosureContentWrapper {
  background-color: #9f9f9f;
  border: 1px solid black;
}

.IE .workspaceDisclosureContentWrapper {
  background-color: #9f9f9f;
  border: 0px solid transparent;
}

.workspaceMessage {
	font-size: 13px;
}

.gwt-TextBox-readonly {
  color: #888;
}



.gwt-StackPanel {
  background-color: #EEEEEE;
  border: 1px solid #808080;
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #EEEEEE;
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-ToggleButton-up {
  background-image: url(../../buttonbg.gif);
  background-color: #E8F1FF;
  border-width: 1px;
  border-style: solid;
  border-color: white #a0a0a0 #a0a0a0 white;
}

.gwt-ToggleButton-up-hovering {
  background-image: url(../../buttonhoverbg.gif);
  background-color: #E8F1FF;
  border-width: 1px;
  border-style: solid;
  border-color: white black black white;
}

.gwt-ToggleButton-down {
  background-image: url(../../buttonbg.gif);
  background-color: #E8F1FF;
  border-width: 2px;
  border-style: solid;
  border-color: black white white black;
}

.gwt-ToggleButton-down-hovering {
  background-image: url(../../buttonhoverbg.gif);
  background-color: #E8F1FF;
  border-width: 2px;
  border-style: solid;
  border-color: black white white black;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-SuggestBoxPopup {
  background-color: white;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  z-index: 10000;
}

.gwt-SuggestBoxPopup .item {
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-SuggestBoxPopup .item-selected {
  background-color: #d0d0d0;
  border: 1px solid #d0d0d0;
  cursor: pointer;
  cursor: hand;
}

.gwt-SliderBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #efebe7;
}
.gwt-SliderBar-shell .gwt-SliderBar-line {
  border: 1px solid black;
  background-color: white;
}
.gwt-SliderBar-shell .gwt-SliderBar-tick {
  background: black;
}
.gwt-SliderBar-shell .gwt-SliderBar-label {
  font-size: 8pt;
}
.gwt-SliderBar-shell-focused {
}
.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
  background-color: #DDDDDD;
}

.files-list-panel{
  background: white;
  border: 1px solid black;
}
.files-toolbar{
  border: 1px solid #aaaaaa;
}

.folder-list-panel{
  border: 1px solid black;
}
.puc-navigator-panel {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #aaaaaa;
}

.mantle-toolbar-combo-button-hovering{
  background-color: #d0d0d0;
  cursor: pointer;
}

.fileItemDragProxy{
  opacity: 0.85;
  filter: alpha(opacity=85);
  border: 1px dashed #999 !important;
  background: transparent;
}

.leaf-widget {
  /*font-size: 13px;*/
}

.leaf-widget .gwt-TreeItem > table {

}

.leaf-widget .gwt-TreeItem-selected > table {
  background-color: #dbdbdb;
}

.leaf-widget .leaf-widget-hidden .gwt-TreeItem > table {
  width: 100%;
  opacity: .7;
  font-style: italic;
  background-color: #ffffff;
}

.leaf-widget .leaf-widget-hidden .gwt-TreeItem-selected > table {
  width: 100%;
  opacity: .7;
  font-style: italic;
  background-color: #dbdbdb;
}


.gwt-MenuItem,
.gwt-MenuItem-selected,
.gwt-MenuItem-checkbox-unchecked,
.gwt-MenuItem-checkbox-checked,
.disabledMenuItem {
}


/*
 fix for toolbar buttons not supporting transparency in IE,
 it is a known bug that once you apply any filter or -ms-filter via css, all pngs lose transparency
 this "fixes" the problem
 */
.toolbar-button img {
  filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
}

.files-toolbar .toolbar-button-hovering {
  background-color: #d0d0d0;
  border: 1px solid transparent;
}

/*========== Launch Page Styles ================= */
#outterWrapper {
  padding: 0px; margin-top: 0px; display:inline-block;
}
.largeGraphicButton {
  padding: 22px 0 8px 0px;
}
.largeGraphicSpacer {
  background-image: url('images/seperator_vert.png');
}
.smallButton{
  padding: 2px 0 30px 0px;
}
.newDsPanel{
  padding: 10px 0px 10px 10px;
}
.bottomButtonWrapper{
  padding: 20px 20px 0px 57px;
}
.launcher-bottom-text{
    line-height: 1.5; padding: 10px 20px 0px 40px; font-size: 13px; color: #FFF; text-shadow: 0px 1px 1px #000; text-align: left;"><div style="font-size: 16px; color: #FFF; text-shadow: 0px 1px 1px #000; text-align: left
}

/* Special styles for Schedule tables to avoid impacting others, to be removed once tables styles are addressed globally */
.schedulesPanel .pentaho-table {
  border-spacing: 1px;
  background-color: #848484;
}

.schedulesPanel .pentaho-table th{
  font-family: Arial, sans-serif;
  font-size: 13px;
  border-spacing: 1px;
  padding: 10px 10px 12px 10px;
  font-weight: normal;
}
.schedulesPanel .toolbar {
  background:none;
}
.schedulesPanel .dataTable td {
  padding: 10px 10px 12px 10px;
}
.schedulesPanel .headerTable td {
  padding: 10px 10px 12px 10px;

}
.schedulesPanel .pentaho-table {
  border-spacing: 1px;
  background-color: #848484;
}
.schedulesPanel .pentaho-table th{
  font-family: Arial, sans-serif;
  font-size: 13px;
  border-spacing: 2px;
  padding: 10px 10px 12px 10px;
  font-weight: normal;
}
.IE .schedulesPanel .headerTable td {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FF777777', endColorstr = '#FF000000');
}

