<?xml version="1.0" encoding="UTF-8"?>
<!-- ******************************************************************************
 *
 * Pentaho
 *
 * Copyright (C) 2026 by Pentaho Canada Inc. : http://www.pentaho.com
 *
 * Use of this software is governed by the Business Source License included
 * in the LICENSE.TXT file.
 *
 * Change Date: 2030-06-15
 ******************************************************************************* -->
<Context path="/pentaho" docbase="webapps/pentaho/">
	<Resource name="jdbc/Hibernate" auth="Container" type="javax.sql.DataSource"
		factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory" maxActive="20" minIdle="0" maxIdle="5" initialSize="0"
		maxWait="10000" username="hibuser" password="password"
		driverClassName="org.hsqldb.jdbcDriver" url="jdbc:hsqldb:hsql://localhost:9001/hibernate"
		validationQuery="select count(*) from INFORMATION_SCHEMA.SYSTEM_SEQUENCES" />
		
	<Resource name="jdbc/Quartz" auth="Container" type="javax.sql.DataSource"
		factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory" maxActive="20" minIdle="0" maxIdle="5" initialSize="0"
		maxWait="10000" username="pentaho_user" password="password" testOnBorrow="true"
		driverClassName="org.hsqldb.jdbcDriver" url="jdbc:hsqldb:hsql://localhost:9001/quartz"
		validationQuery="select count(*) from INFORMATION_SCHEMA.SYSTEM_SEQUENCES"/>

	<Resource name="jdbc/jackrabbit" auth="Container" type="javax.sql.DataSource"
		factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory" maxActive="20" minIdle="0"
		maxIdle="5" initialSize="0"
		maxWait="10000" username="jcr_user" password="password"
		driverClassName="org.hsqldb.jdbcDriver" url="jdbc:hsqldb:hsql://localhost:9001/jackrabbit"
		validationQuery="select 1"/>

	<Resource name="jdbc/SampleData" auth="Container" type="javax.sql.DataSource"
		factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory" maxActive="20" minIdle="0" maxIdle="5" initialSize="0"
		maxWait="10000" username="pentaho_user" password="password"
		driverClassName="org.hsqldb.jdbcDriver" url="jdbc:hsqldb:hsql://localhost:9001/sampledata"
		validationQuery="select 1"/>

</Context>
