<plugin title="Test Plugin Perspective" name="test-plugin-perspective">

<!--	<perspective id="test.perspective.test" title="${testPerspective}" layout-priority="100" resourcebundle="content/test-plugin-perspective/resources/messages/messages" content-url="content/test-plugin-perspective/resources/html/index.html">
		<overlay id="test.perspective.toolbar.test.overlay"  resourcebundle="content/test-plugin-perspective/resources/messages/messages">
            <toolbar id="mainToolbar" visible="true">
                 <toolbarbutton id="test.perspective.test.overlay.button" image="../content/test-plugin-perspective/resources/images/enabled24.png" onclick="mantleXulHandler.executeMantleFunc('defaultTestPerspectiveFunction();')" tooltiptext="${defaultPerspectiveTestToolbarButton}"  insertafter="dummyPluginContentButton"/>
            </toolbar>			
			<menubar id="mainMenubar">
				<menubar id="testPerspectiveMenuBar" label="${test}" layout="vertical" insertafter="toolsmenu">
					<menuitem id="test.perspective.test.overlay.menubar" label="${testItem}" js-command="alert('Test Item Clicked')" />		
				</menubar>
			</menubar>
			<menubar id="newmenu">
				<menuitem id="test.perspective.test.overlay.new.menu.item" label="${defaultPerspectiveTestMenuItem}" command="mainMenubarHandler.executeMantleFunc('defaultTestPerspectiveFunction();')" />		
			</menubar>	
		</overlay>

		<overlay id="sticky.test.perspective.menubar.test.overlay"  resourcebundle="content/test-plugin-perspective/resources/messages/messages">
            <toolbar id="mainToolbar">
                 <toolbarbutton id="test.perspective.test.overlay.sticky.button" image="../content/test-plugin-perspective/resources/images/lock32.png" js-command="alert('Sticky Toolbar Button Clicked')" tooltiptext="${stickyButton}"  insertafter="dummyPluginContentButton"/>
            </toolbar>			
			<menubar id="mainMenubar">
				<menubar id="testPerspectiveStickyMenuBar" label="${sticky}" layout="vertical" insertafter="toolsmenu">
					<menuitem id="test.perspective.test.overlay.sticky.menu.item" label="${stickyMenuItem}" js-command="alert('Sticky Test Item Clicked')" />		
				</menubar>
			</menubar>
			<menubar id="newmenu">
				<menuitem id="test.perspective.test.overlay.sticky.new.menu.item" label="${stickyMenuItem}" js-command="alert('Sticky Test Item Clicked')" />		
			</menubar>	
		</overlay>
		
		
	</perspective>
		
	<static-paths>
		<static-path url="/test-plugin-perspective/resources" localFolder="resources"/>
	</static-paths>
 -->
	
</plugin>